nav ul{
  list-style: none;
  background-color: #009688;
}
nav ul li{
  display: inline-block;
}
nav ul li{
  padding: 5px 15px;
}
nav ul li:hover{
  color: #FFFFFF;
  background-color: #82B1FF;
}
a{
  color: inherit;
  text-decoration-line: none;
}
.home-content{
  height:500px;
  background-image: url("../img/resort.jpg");
  text-align: center;
}

.home-content text-content{
  background-color:rgba(128, 203, 196, 0.6);
}
.contact-content{
  text-align: center;
}
.accomodation-content table{
  border-collapse: collapse;

}
.accomodation-content table, td, th {
    border: 1px solid #ddd;
}
.pictures-content img{
  width: 400px;
}
